<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83a2f9">  <td>19/03/03 18:12:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChromeDriver1.chDriver()[pri:0, instance:testCases.TC001_LogIn_VendorResult@402a079c]">&gt;&gt;chDriver</td> 
<td>&nbsp;</td>  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/03/03 18:13:05</td>   <td>6553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LogIn_VendorResult.getVenName()[pri:0, instance:testCases.TC001_LogIn_VendorResult@402a079c]">getVenName</td> 
  <td>main@25548982</td>   <td></td> </tr>
</table>
